.navigation{
  padding: 40px 130px;
  transition: .3s ease;
  &.nav-bg {
    background-color: $primary-color;
    padding: 15px 100px;
    @include desktop {
      padding: 15px 20px;
    }
  }
  @include desktop {
    padding: 20px;
    background: $primary-color;
  }
}

.navbar{
  .nav-item{
    .nav-link{
      font-family: $secondary-font;
      text-transform: uppercase;
      padding: 15px;
    }
    &.active{
      font-weight: bold;
    }
  }
}
.nav-item {
    position: relative;
    display: inline-block;
}
.navbar-dark .navbar-nav .nav-link{
  color: $white;
}

.nav-dropdown {
  display: none;
  position: absolute;
  min-width: 160px;
  padding: 0;
  //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-dropdown li {
  margin-top: 5px;
}

.nav-dropdown li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav-item:hover .nav-dropdown {
  display: block;
}
@media (max-width: 767px) {
  .nav-item:hover .nav-dropdown {
    display: contents; /* Display the dropdown as contents on mobile devices */
  }
}
.nav-dropdown li a:hover {
  background-color: #542cb7;
}