<!-- contact -->
<section class="section" data-background="images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Contact Us</h2>
           <div class="rounded text-center p-5 shadow-down">
           <a href="https://api.whatsapp.com/send?phone=5493517658617&text=Hello! I want to know more about your services"
              class="btn btn-m btn-contact">Get in touch</a>
          <a href="contact.html"
          class="btn btn-m btn-contact">Schedule a meeting</a>
        </div>
      </div>
    </div>
  </div> 
</section>
<!-- /contact -->

<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <p class="text-white paragraph-lg font-secondary">techwolfa@gmail.com</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Phone</h5>
          <p><i class="fa fa-whatsapp fa-2x"></i><a href="https://api.whatsapp.com/send?phone=5493517658617&text=Hello! I want to know more about your services" class="text-white paragraph-lg font-secondary"> +54 9 351 7658617</a></p>
           <p><i class="fa fa-whatsapp fa-2x"></i><a href="https://api.whatsapp.com/send?phone=346853357184&text=Hello! I want to know more about your services" class="text-white paragraph-lg font-secondary"> +34 685 357184</a></p>
        </div>
        <!-- <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p class="text-white paragraph-lg font-secondary">125/A, CA Commercial Area, California, USA</p>
        </div> -->
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-1">
    <p class="mb-0 text-light">Copyright &copy;<script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script> Designed &amp; Developed by <a class="text-white-50" href="Themefisher">Themefisher</a></p>
  </div>
</footer>
<!-- /footer -->