<!-- contact -->
<section class="section" data-background="images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Contact Us</h2>
           <div class="rounded text-center p-5 shadow-down">
           <a href="https://api.whatsapp.com/send?phone=5493517658617&text=Hello! I want to know more about your services"
              class="btn btn-m btn-contact">Get in touch</a>
          <a href="contact.html"
          class="btn btn-m btn-contact">Schedule a meeting</a>
        </div>
      </div>
    </div>
  </div> 
</section>
<!-- /contact -->

<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <p class="text-white paragraph-lg font-secondary">techwolfa@gmail.com</p>
        </div>
        <div class="col-md-12 row">
           <div class="col-md-4 col-sm-4"> 
            <p><b>ESPAÑA</b></p> 
              <p>Barcelona</p> 
                <p> 
                  <a class="phone-link" href="tel:34685357184"><i class="ti-mobile"></i> +34 685 35 71 84 </a>
                </p> 
              </div> 
            <div class="col-md-4 col-sm-4"> 
              <p>
                <b>ARGENTINA</b></p> 
                  <p>Cordoba</p> 
                  <p> 
                    <a class="phone-link" href="tel:5493517658617"> <i class="ti-mobile"></i>  +54 9 351 765 86 17 </a> 
                  </p><br> 
                </div> 
            <div class="col-md-4 col-sm-4"> 
              <p>
                <b>UNITED STATES</b></p> 
                  <p>Texas</p> <p> <a class="phone-link" href="tel:008328192252"> <i class="ti-mobile"></i>  +832 819 2252 </a>
                  </p> 
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-1">
    <p class="mb-0 text-light">Copyright &copy;<script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script> Designed &amp; Developed by <a class="text-white-50" href="Themefisher">Themefisher</a></p>
  </div>
</footer>
<!-- /footer -->