<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="index.html"><img src="images/logo.png" alt="wolf logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Services</a>
          <ul class="nav-dropdown">
                    <li class="nav-item">
                <a class="nav-link" href="assessment.html">QA Assessment</a>
            </li>
                    <li class="nav-item">
                <a class="nav-link" href="trainings.html">Trainings</a>
            </li>
                    <li class="nav-item">
                <a class="nav-link" href="staffAugmentation.html">Staff Augmentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="agileTesting.html">Agile Testing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="devAsQA.html">DevAsQA</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blog.html">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Book a Call</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<script src="script.js"></script>